#hpBar {
  width: 100%;
  height: 30px;
  background-color: #4CAF50;
  line-height: 30px; /* To center it vertically */
  color: white;
  text-align: center;
}

#hpBarContainer {
  width: 360px;
  background-color: #ddd;
}

#resourceContainer {
  width: 360px;
  display: inline-block;
}

.navArrow {
  width: 100px;
  display:inline-block;
}
